body {
  font-family: "Times New Roman";
  background: black;
  color: white;
}

#key-events-title
{
  width: 1000px;
  font-family: "Arial"
}

#key-events
{
  font-family: "Arial"
}

#image
{
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto
}